.container-title {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-left: 20px;

  ion-icon {
    font-size: 25px;
  }
}

form {
  .item {
    padding: 5px;
    border-radius: 30px;

    .container {
      display: flex;
      flex-direction: column;

      .title {
        font-size: 17px;
        margin: 5px 0 5px 0;
      }

      .value {
        font-size: 14px;
        padding: 2px;
      }
    }
  }

  .image {
    max-width: 181px;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
  }

  .button-localization {
    width: 100%;
    padding: 8px;
    font-size: 17px;
    color: white;
    background-color: #4f4f4f;
    margin: 10px 0 10px;
  }

  .button-localization:active {
    opacity: 0.5;
  }
}
