<ion-header>
  <ion-toolbar>
    <ion-title>Items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="list-items">
    <ng-template let-item ngFor [ngForOf]="listItems">
      <ion-item class="item">
        <div class="info-items">
          <div class="item-info">
            <span>{{ item.name }}</span>
            <span>localização atual</span>
            <div>
              <span>Latitude: </span>
              <span>{{ item.localizationLatitude }}</span>
            </div>
            <div>
              <span>Longitude: </span>
              <span>{{ item.localizationLongitude }}</span>
            </div>
          </div>

          <ion-img [src]="item.image" alt=""></ion-img>
        </div>
      </ion-item>
    </ng-template>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="navigateToFormItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
